/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.snippets {
	margin-left:9px;
	list-style:none;
}

.snippet.active > a {
	color:#444;
	font-weight:bold;
	text-decoration:underline;
}

#snippet_content {
	box-sizing:border-box;
	width:100%;
}

form .actions {
	text-align:right;
}